body {
	background-color:#000;
	margin:0;
	padding:0;
}

#container{
	position: absolute;
	width: 100%; 
	height: 100%; 
}

#panes {
	display:table;
	position:relative;
	margin:5px auto 0;
}

#screenPane{
	color:transparent;
	float:left;
	clear:left;
}

#lay3{
	position: relative;
	z-index: 2;
	float:left;
	clear:left;
}

#CorePane{
	background-color:#fff;
	float:left;
	clear:left;
	width: 450px;
}

#scrPane{
	background-color:#fff;
	float:left;
}

.ctable{
	border-collapse: collapse;
	background-color: #fff;
}

tr:hover{
	background-color: #ccf;
}

tr, td {
	border: 1px solid black;
}

.regCol{
	font-size: 11px;
	font-weight: 700;
	font-family: serif;
}

.dstStyle{
	background-color: #afa;
	font-size: 11px;
	font-weight: 700;
	font-family: serif;
}

.cbutton:hover{
	background-color: #0f0;
}

.srcStyle{
	background-color: #aaf;
	font-size: 11px;
	font-weight: 700;
	font-family: serif;
}

.changedRowColor{
	background-color: #aaa;
	font-size: 11px;
	font-weight: 700;
	font-family: serif;
}

.currentLine{
	background-color: #00f;
}

.errorLine{
	background-color: #f00;
}

.breakPointLine{
	background-color: #b00;
}

.simpleLine{
	background-color: #000;
}

.ttaWord{
	background-color:#fff;
	font-size: 14px;
	font-weight: 700;
	font-family: serif;
	float:left;
	clear:left;
}

.bundle{
	background-color:#ccc;
}

.command{
	background-color:#0f0;
	font-size: 14px;
	font-weight: 700;
	font-family: serif;
}

/*#dstPane{
	position: relative;
	float:left;
	padding-left:5px; 
}

#srcPane{
	position:relative;
	float:left;
	padding-left:5px; 
}

#flgPane{
	position:relative;
	float:left;
	padding-left:5px; 
}

#labelPane{
	position:relative;
	float:left;
	padding-left:5px; 
}*/

#lblTable{
	position:absolute;
	margin-left:0; 
}

#cnsTable{
	position:absolute;
	margin-left:180px; 
}

#srcTable{
	position:absolute;
	left:320px; 
}

#dstTable{
	position:absolute;
	margin-left:460px; 
}

#flgTable{
	position:absolute;
	margin-left:594px; 
}

#codeDump
{
	width: 100%;
	height: 150px;
}

.slot2{
	background-color:#cfc;
	font-size: 14px;
	font-weight: 700;
	font-family: serif;
}

.slot1{
	background-color:#fcc;
	font-size: 14px;
	font-weight: 700;
	font-family: serif;
}

.slot0{
	background-color:#ccf;
	font-size: 14px;
	font-weight: 700;
	font-family: serif;
}

#editorPane {
	display:block;
	position:absolute;
	top:0px;
	left:655px;
}

#runCodePane {
	display:block;
	position:absolute;
	top:415px;
	left:1370px;
	border: 1px solid black;
	border-color: #ccc;
}

#rbtnStep, #rbtnRun, #rbtnReset, #rbtnAddBP {
	position:absolute;
	top:893px;
	left:1400px;
	z-index: 3;
}

#rbtnRun
{
	left:1467px;
}

#rbtnReset
{
	left:1531px;
}

#rbtnAddBP{
	left:1606px;
}
	
#codePane {
	border:2px solid #ccc;
}

.readOnly {
	background:#031337;
}

:focus {
	outline:none;
}

#lay1{
	position: absolute;
	left:1370px;
	top:5px;
	border: 1px solid black;
	border-color: #0f0;
}

#lay3{
	position: absolute;
	left:1370px;
	top:210px;
}